:root {
  --color-bg: #40679E;
  --color-font: #F6F5F5;
}

/* body.darkTheme {
  --color-bg: #F6F5F5;
  --color-font: #40679E;
} */

body {
  background-color: var(--color-bg);
  color: var(--color-font);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;

  height: 50px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar-menu {
  display: flex;
  gap: 1rem;
}

section {
  min-height: 100vh;
}